<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>红星美凯龙</title>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
<link rel="stylesheet" href="../lib/swiper.min.css">
<link rel="stylesheet" href="../lib/animate.min.css">

<script src="../lib/swiper.min.js"></script>
<script src="../lib/swiper.animate.min.js"></script>

<link rel="stylesheet" href="../release/css/main.min.css">
</head>

<body>
<div class="swiper-container">
    <div class="swiper-wrapper">
      <!-- slide1 首页-->
      <section class="swiper-slide swiper-slide1">
          <img src="../release/img/part_01.png" class="ani resize" style="width:160px; height:auto;left:10px;top:30px;z-index:3;" swiper-animate-effect="zoomIn" swiper-animate-duration="1.5s" swiper-animate-delay="0s"  >
          <img src="../release/img/part_02.png" class="ani resize" style="width:320px;height:auto;left:0px;top:100px;z-index:1;" swiper-animate-effect="bounceInDown" swiper-animate-duration="1.5s" swiper-animate-delay="0.5s">
          <button class="mkt-btn ani resize" style="width:160px;height:40px;left:80px;top:270px;z-index:1;" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="1.8s"  >
            报名参加
          </button>
          <button class="mkt-btn ani resize" style="width:160px;height:40px;left:80px;top:320px;z-index:1;" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="2.2s"  >
            活动详情
          </button>
          <p class="numberlist ani resize" style="width:300px;height:auto;left:10px;top:380px;z-index:1;" swiper-animate-effect="flipInY" swiper-animate-duration="1.5s" swiper-animate-delay="2.5s"><span>参与人数：000</span><span>正在审核人数：000</span><span>审核成功人数：000</span></p>

          <img src="../release/img/white-tip.png" class="ani resize" style="width:160px;height:auto;left:10px;bottom:10px;z-index:1;" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="2s">
      </section>

      <!--slide2 报名表格-->
      <section class="swiper-slide swiper-slide2">

        <img src="../release/img/part_06.png" class="ani resize" style="width:260px;height:auto;left:30px;top:30px;z-index:5; " swiper-animate-effect="bounce" swiper-animate-duration="0.5s" swiper-animate-delay="0s">

        <ul class="send-info ani resize" style="width:160px;height:auto;left:80px;top:60px;z-index:5; " swiper-animate-effect="bounce" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
          <li class="clearfix">
            <label>姓名：</label>
            <p><input type="text" id="userName"/></p>
          </li>
          <li class="clearfix">
            <label>电话：</label>
            <p><input type="number" id="userPhone"/></p>
          </li>
        </ul>

        <div class="photo ani resize" style="width:220px;height:auto;left:50px;top:130px;z-index:5; " swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="0.8s">
          <p>房产证正面</p>
          <div class="photo-box">
            <img src="#" class="show-photo">
            <input type="file" id="fileUpload">
            <input type="hidden" id="imgUrl">
          </div>
        </div>

        <dl class="area-list ani resize" style="width:280px;height:auto;left:20px;top:270px;z-index:3;" swiper-animate-effect="zoomInDown" swiper-animate-duration="0.5s" swiper-animate-delay="1s">
          <dt>注：</dt>
          <dd>1、请凭与房产证相同名字的身份证至北五环商场领取500元通汇卡。</dd>
          <dd>2、此照片只做活动报名资格审核,不作其他商业用途，并为顾客保密。</dd>
          <dd>3、房产证明：房屋产权证、房屋完税证明、购房合同原件（盖章页）、军产分房证明（盖章页）、购房发票。</dd>
        </dl>

        <button class="mkt-btn ani resize" style="width:160px;height:40px;left:80px;bottom:50px;z-index:1;" swiper-animate-effect="fadeInUp" swiper-animate-duration="0.5s" swiper-animate-delay="2.2s">
            确认提交
        </button>
      </section>

      <!--slide2 成功-->
      <section class="swiper-slide swiper-slide3">

        <div class="send-success-title ani resize"  class="ani resize" style="width:320px;height:327px;left:0px;top:40px;z-index:1;" swiper-animate-effect="zoomInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s"  >
            恭喜您<br/>报名成功
        </div>
        <div class="send-success-word ani resize"  class="ani resize" style="width:320px;height:327px;left:0px;top:100px;z-index:1;" swiper-animate-effect="zoomInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s"  >
            <p>我们将在二十四小时之内</p>
            <p>审核您所提交的资料并以短信形式</p>
            <p>为您推送审核结果</p>
        </div>
        <button class="mkt-btn ani resize" style="width:160px;height:40px;left:80px;bottom:50px;z-index:1;" swiper-animate-effect="fadeInDown" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">
            查看活动地址
        </button>

      </section>

      <!--slide4 地址-->
      <section class="swiper-slide swiper-slide4">

        <img src="../release/img/part_03.png" class="ani resize" style="width:160px;height:auto;left:80px;top:40px;z-index:5; " swiper-animate-effect="bounce" swiper-animate-duration="0.5s" swiper-animate-delay="0s">

        <img src="../release/img/part_04.png" class="ani resize" style="width:280px;height:auto;left:20px;top:90px;z-index:4;" swiper-animate-effect="fadeIn" swiper-animate-duration="0.5s" swiper-animate-delay="0.5s">

        <dl class="area-list ani resize" style="width:280px;height:auto;left:20px;top:290px;z-index:3;" swiper-animate-effect="zoomInDown" swiper-animate-duration="0.5s" swiper-animate-delay="1s">
          <dt>红星美凯龙北五环商场</dt>
          <dd>地 址：北京市朝阳区来广营西路59号</dd>
          <dd>卖场电话：010-59773333&nbsp;&nbsp;&nbsp;&nbsp;64828888</dd>
          <dd>营业时间：10:00-18:00（周一至周五）</dd>
          <dd>10:00-19:00（双休及节假日）</dd>
        </dl>

        <img src="../release/img/part_05.png" class="ani resize" style="width:60px;height:auto;left:10px;bottom:10px;z-index:1;" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1.2s"  >
        <img src="../release/img/white-tip.png" class="ani resize" style="width:130px;height:auto;left:80px;bottom:10px;z-index:1;" swiper-animate-effect="fadeInLeft" swiper-animate-duration="0.5s" swiper-animate-delay="1.4s">
      </section>
    </div>

   <img src="../release/img/arrow.png" style="width:20px;height:15px; top:460px; left:150px;" id="array" class="resize">
  <div class="swiper-pagination"></div>
</div>

<script>
scaleW=window.innerWidth/320;
scaleH=window.innerHeight/480;
var resizes = document.querySelectorAll('.resize');
  for (var j=0; j<resizes.length; j++) {
   resizes[j].style.width=parseInt(resizes[j].style.width)*scaleW+'px';
   resizes[j].style.height=parseInt(resizes[j].style.height)*scaleH+'px';
   resizes[j].style.top=parseInt(resizes[j].style.top)*scaleH+'px';
   resizes[j].style.left=parseInt(resizes[j].style.left)*scaleW+'px';
  }

  var mySwiper = new Swiper ('.swiper-container', {
   direction : 'vertical',
   pagination: '.swiper-pagination',
   mousewheelControl : true,
   onInit: function(swiper){
   swiperAnimateCache(swiper);
   swiperAnimate(swiper);
      },
   onSlideChangeEnd: function(swiper){
    swiperAnimate(swiper);
    },
    onTransitionEnd: function(swiper){
    swiperAnimate(swiper);
    },
    watchSlidesProgress: true,
      onProgress: function(swiper){
        for (var i = 0; i < swiper.slides.length; i++){
          var slide = swiper.slides[i];
          var progress = slide.progress;
          var translate = progress*swiper.height/4;
          scale = 1 - Math.min(Math.abs(progress * 0.5), 1);
          var opacity = 1 - Math.min(Math.abs(progress/2),0.5);
          slide.style.opacity = opacity;
          es = slide.style;
          es.webkitTransform = es.MsTransform = es.msTransform = es.MozTransform = es.OTransform = es.transform = 'translate3d(0,'+translate+'px,-'+translate+'px) scaleY(' + scale + ')';
        }
      },
      onSetTransition: function(swiper, speed) {
        for (var i = 0; i < swiper.slides.length; i++){
          es = swiper.slides[i].style;
          es.webkitTransitionDuration = es.MsTransitionDuration = es.msTransitionDuration = es.MozTransitionDuration = es.OTransitionDuration = es.transitionDuration = speed + 'ms';

        }
      },

      })

  var common = {

  }

  $(function(){

  });


</script>
</body>
</html>
